POSTGRES_DB=avion
POSTGRES_USER=avion
POSTGRES_PASSWORD=replace-with-strong-password
HMAC_SIGNING_SECRET=replace-with-at-least-32-characters-secret
NEXT_PUBLIC_APP_URL=https://flightbugs.com
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-G72BXKV0H5
AVION_HTTP_PORT=8080
