POSTGRES_DB=avion
POSTGRES_USER=avion
POSTGRES_PASSWORD=replace-with-strong-password
HMAC_SIGNING_SECRET=replace-with-at-least-32-characters-secret
NEXT_PUBLIC_APP_URL=https://flightbugs.com
NEXT_PUBLIC_CLARITY_PROJECT_ID=y7jr1itamx
NEXT_PUBLIC_GTM_ID=GTM-K44WRVJK
NEXT_PUBLIC_GOOGLE_ADS_ID=AW-18172395721
AVION_HTTP_PORT=8080
UPLOAD_ROOT=/var/avion/uploads
ADMIN_BOOTSTRAP_EMAIL=admin@flightbugs.com
ADMIN_BOOTSTRAP_PASSWORD=replace-with-strong-admin-password
